
.Navbar {
    display: flex;
    position: relative;   
    letter-spacing: 0.625em;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    float: right;
    z-index: 5;
    line-height: 30px;   
    margin-left: 300px;


}

.Navbar ul a {
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;

}

.Navbar ul a:hover{
    border-bottom: 4px solid #00ADB5;
}

/*
-
*/

